* {
    margin: 0;
    font-family: Inconsolata, Consolas, serif;
    font-size: 18pt;

}

body{
    padding: 10px 0 0 10px; /* gore desno dole levo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    display: block;
    margin: 15px 0px;   /* gore/dole levo/desno */
    
}

.red_dugmadi{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    width: 250px;
    height: 50px;
    margin: 0 0 10px 0;
}

.dgm_k, .dgm_p {
    width: 48px;
    height: 48px;
    background: #777777;
    border: solid 1px black;
    border-radius: 50%;
    margin: 0 5px 0 0;
}

.dgm_p:hover{
    filter: brightness(130%);
}


.sakriven{
    /* visibility: hidden;  Sakriva element ali i dalje zauzima mesto na stanici*/
    display: none;
}

#sakriven_red{
    display: none;
}

#oceni{
    display: none;
}

#tabela{
    margin-bottom: 50px;
}

.red{
    margin-bottom: 5px;
}

.pokusaj-polje{
    border: 2px solid gray;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.resenje-polje{
    background-color: #777777;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    
}

.flex-red{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}